body {
  background-image: url(back3new.jpg);
  background-size: contain;
}

#logo {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight: 75; 
    padding: 10px;
    background: url(backtext2.jpg);
    background-clip: border-box;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
  100%{background-position: 2000px 0;}
}

#picture {
    height: 350px;
    width: 350px;
    border-radius: 200px;
    padding: 40px;
    display: grid;
    place-items: center;
    
    
    
}
#intro {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: antiquewhite;
    font-weight: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 5px;
    padding-left: 10px;
}



#bold {
    font-family: 'Young Serif', serif;
    font-size: 90px;
    color: aqua;
    -webkit-text-stroke: 1px #fff;
    font-weight: 50;
    text-align: center;
    padding-left: 10px;
    line-height: 10px;
}


#about {
        background-color: white;
        font-size: 25px;
        color: black;
        font-weight: 100;
        text-align: left;
        font-family: 'Quicksand', sans-serif;
        line-height: 49px;
        padding: 30px;
}

#contact {
  background-color: #070707;
  font-size: 40px;
  color: white;
  font-weight: 100;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  border-radius: 50px;
  

}
#box {
  border-radius: 50px;
  background-color: white;
  height: 270px;
  width: 270px;
  padding-left:100px;
  padding-right: 100px;
  font-size: 30px;
  align-items: center;
  display: inline-block;

}
#row {
  display: flex;
  justify-content: space-evenly;
  

}

#footer {
  font-size: 20px;
  color: grey;
  font-weight: 50;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  line-height: 30px;
  padding: 30px;
}



